
<header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
    <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
        <!-- <img class="bi me-2" width ="40" height = "32"src="../Images/books.JPG" alt=""
        style="background-position: center 30%;
        background-size: cover;"> -->
        <span class="bi me-2">📚︎</span>
        <span class="fs-4 text-primary">Reading Record</span>
    </a>

    <ul class="nav nav-pills">
        <li class="nav-item"><a id="home" href="/" class="nav-link active" aria-current="page">홈</a></li>
        <li class="nav-item"><a id="board" href="./board" class="nav-link">기록장</a></li>
        <li class="nav-item"><a id="write" href="./write" class="nav-link">기록하기</a></li>
        <li class="nav-item"><a id="login" href="#" class="nav-link">로그인</a></li>
    </ul>
</header>

